.sign-in-container {
  display        : flex;
  flex-direction : column;

  h2 {
    font-size : 2.5rem;
    }

  span {
    font-size : 1.5rem;
    }

  .buttons-container {
    display            : flex;
    flex-direction     : column;
    justify-content    : space-between;
    margin-block-start : 1em;
    gap                : .2em;
    }

  }

@media (min-width : 850px) {

  .sign-in-container {
    min-width : 400px;

    .buttons-container {
      flex-direction : row;
      gap            : 1%;
      }

    }

  }