.cart-icon-container {
  display     : flex;
  align-items : center;
  box-sizing  : unset;

  .shopping-icon {
    height         : 3rem;
    padding-bottom : 6px;
    }

  .item-count {
    position   : absolute;
    top        : 37px;
    right      : 8px;
    width      : 50px;
    text-align : center;
    }
  }